<launch>
    <node pkg="lidar_obstacle_detection" type="lidar_obstacle_detection_node" name="lidar_obstacle_detection_node" output="screen">
        <rosparam file="$(find lidar_obstacle_detection)/config/lidar_obstacle_detection.yaml" command="load"/>
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find lidar_obstacle_detection)/rviz.rviz" required="true" />
    </node>

</launch>
